.authPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #323437;
    overflow: hidden; 
}

.authContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .1);
    color: #fff;
    border-radius: 15px;
    padding: 40px 50px;
}

.authContainer  .resetContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}

.resetContainer .authResetButton {
    background: none;
    border: none;
    outline: none;
    margin-left: 10px;
    color: #CBB279;
    width: 150px;
    cursor: pointer;
}

.authContainer h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

.authContainer .authInput {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;   
}

.authInput input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #F5F7F8;
    border: 1px solid #F5F7F8;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 40px 20px 20px;
}

.authInput input::placeholder {
    color: #F5F7F8;
}

.authInput i {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.authContainer .authButton {
    width: 50%;
    height: 40px;
    background: #F5F7F8;
    border: 1px solid #CBB279;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 15px;
    color: #333;
    margin-left: 25%;
}

.authContainer .registerInputLink {
    font-size: 15px;
    text-align: center;
    margin: 50px 0 15px;
}

.authContainer .registerInputLink p a {
    color: #CBB279;
    text-decoration: none;
}

.authContainer .registerInputLink p a:hover,
.authResetButton:hover {
    text-decoration: underline;
}