.nav {
    /* display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px; */

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
    background-color: #323437; 
    z-index: 1000; 
}

.leftNav {
    margin-right: 5%;
}

.nav i,
.leftNav a i {
    position: relative;
    margin: 1em 1.2em;
    text-decoration: none;
    font-size: 30px;
    color: #CBB279;
}

.nav i::after,
.leftNav a i::after,
.rightNav a i::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px; 
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #F5F7F8;
    transform: translateX(-50%);
    transition: width 0.3s ease; 
}

.nav i:hover::after,
.leftNav a i:hover::after,
.rightNav a i:hover::after {
    width: 100%;
}