* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body .App {
    width: 100%;
    height: 100%;
}

.home {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left {
    position: relative;
    width: 95%;
    height: 100vh;
    background-color: #323437;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

.nav i,
.left-nav a i {
    position: relative;
    margin: 1em 1.2em;
    text-decoration: none;
    font-size: 30px;
    color: #ADD8E6;
}

.nav i::after,
.left-nav a i::after,
.right-nav a i::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px; 
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #ADD8E6;
    transform: translateX(-50%);
    transition: width 0.3s ease; 
}

.nav i:hover::after,
.left-nav a i:hover::after,
.right-nav a i:hover::after {
    width: 100%;
}

.left .heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading h1 {
    font-size: 150px;
    color: #F5F7F8;
    border-bottom: 1px solid #f5f7f86e;
}

.heading h1 span {
    color: #ADD8E6;
}

.heading p {
    opacity: .9;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    color: #F5F7F8;
}

.heading button {
    text-decoration: none;
    background-color: #ADD8E6;
    border-radius: 20px;
    color: #323437;
    padding: 5px;
    font-size: 20px;
    width: 30%;
    margin: 0 auto;
    display: block;
}

.right {
    width: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #323437;
}

.right-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #f5f7f86e;
}

.right-nav a i {
    position: relative;
    margin: 1em;
    text-decoration: none;
    color: #ADD8E6;
    font-size: 30px;
}


@media (max-width: 500px) {
    .home {
        flex-direction: column;
    }

    .home .left {
        width: 100%;
        height: 100vh;
    }

    .home .right {
        width: 100%;
        height: 100vh;

    }

    .heading h1 {
        font-size: 20px;
    }
}